* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 30px;
    padding: 30px;
}

.card1Body {
    width: 255px;
    height: 160px;
    border: 1px solid #c7c2c2; /* исправлено: добавлено значение для border */
    background-color: #eeb839;
    border-radius: 5px;
    padding: 10px; /* добавлено: добавляет отступ внутри элемента */
}
.image {
    width: 35px;
    height: 25px;
    margin-left: 117px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.cardNumber1 {
    font-size: x-small;
}

.card1Type {
    color: black;
}

.cardExpirationMonth1 {
    font-size: x-small;
    margin-left: 105px;
}
.cardExpirationYear1 {
    font-size: x-small;
}

.currentBalance {
    display: block; /* Поместить "Current Balance" на новую строку */
    font-size: x-small;
    margin-top: 30px;
    margin-bottom: 10px;
}


